<html>
    <head></head>
    <body>
        <div class="container-from">
            <h3 class="txt_gris_medio">acceder</h3>
            <hr>
            <div class="login-container">
                {% if form.errors %}
                <div class="alert alert-danger">
                    <p>
                        Tu usuario y contraseña no son validos
                    </p>
                </div>
                {% endif%}
                <form id="form-login " method ="POST" action="">
                    {% csrf_token %}
                    <div class="w450" id="username">
                        {{form.username}}
                    </div>
                    <div class="w450" id="password">
                        {{form.password}}
                    </div>
                    <button id="btn-registrar" class="button_large">
                        Entrar
                    </button>
                </form>
                <a href="" class="txt_verde txt_center mt15 mb20" style="display: block;">
                    Aviso de privacidad
                </a>
            </div>
        </div>
    </body>
</html>